
<div class="dose-container" style="background-image: url(https://images.unsplash.com/photo-1511795267602-0424436b99c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); background-size: cover; height: -webkit-fill-available;">

  <div class="dose-content">
    <% if @cocktail.doses.blank? %>
    <h1 id="show-heading"><%= @cocktail.name %></h1>
    <div class="nil-container">
      <p class="nil-text">Add a description and ingredient</p>
      <%= cl_image_tag @cocktail.photo, width: 500, height: 300, crop: :fill %>
          <div class="btn-container">
            <%= link_to "Add description", new_cocktail_dose_path(@cocktail), class: "btn btn-primary home-link-nil"%>

            <%= link_to "Back to list", cocktails_path, class: "btn btn-primary home-link-nil" %>
          </div>
    </div>

    <% else %>
    <h1 id="show-heading"><%= @cocktail.name %></h1>
      <% @cocktail.doses.each do |dose| %>
      <div class="dose-text">
        <%= dose.description %>
      </div>

        <p><strong>Ingredients needed:</strong> <%= dose.ingredient.name %></p>
      <%= cl_image_tag @cocktail.photo, width: 500, height: 300, crop: :fill %>

      <div class="btn-container">
            <%= link_to "Add description", new_cocktail_dose_path(@cocktail), class: "btn btn-primary home-link"%>

            <%= link_to "Back to list", cocktails_path, class: "btn btn-primary home-link" %>

            <%= link_to "Delete dose", dose_path(dose),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "btn btn-danger" %>

    </div>

  </div>
  <% end %>
  <% end %>







</div>

